.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #555;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: black;
  color: white;
}

.mainContent{
  margin-left: 250px;
  padding: 1px 16px;
  position: relative;
  min-height: 100vh;
}

div.content {
  margin-left: 480px;
  width: fit-content;
  padding: 1px 16px;
  position: relative;
  min-height: 100vh;
  overflow: auto;

}

.noteTab {
  width: 350px;
  margin-left: 120px;
  background-color: #e5e5e5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .noteTab {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
